@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*
 * aws stylesheet for cloud backup application
 *
 * Application:    Cloud Backup
 * File:           /cloud_backup/cloud_download/static/cloud_download/aws.css
 * Description:    css for AWS
 * Language:       Python 3.8 Django 2.2
 * Dev Env:        Linux x64
 *
 * Authors:        Ryan Breitenfeldt
 *                 Noah Farris
 *                 Trevor Surface
 *                 Kyle Thomas
 * Class:          CptS 421/423 Fall '19 Spring '20
 * University:     Washington State University Tri-Cities
 */

body{
    font-family: 'Open Sans', sans-serif;
    background:#363636;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
  
  p{
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
  }
  
  h1{
    font-size:1.5em;
    color:#ddd;
    font: 'Open Sans', Arial, sans-serif;
  }
  
  h2{
    font-size:1.0em;
    color:#ddd;
    font: 'Open Sans', Arial, sans-serif;

  }
  .box{
    background:#484848;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
  }
  
  .aws_key_id{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }
  
  .aws_key{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  
  .btn{
    background:#484848;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:#ddd;
    border-radius:3px;
    border: #008CBA 2px solid;
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:80px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btn:hover{
    background: rgb(25, 63, 70);
  }
  
