@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*
 * main stylesheet for cloud backup application
 *
 * Application:    Cloud Backup
 * File:           /cloud_backup/cloud_download/static/cloud_download/style.css
 * Description:    css for cloud backup
 * Language:       Python 3.8 Django 2.2
 * Dev Env:        Linux x64
 *
 * Authors:        Ryan Breitenfeldt
 *                 Noah Farris
 *                 Trevor Surface
 *                 Kyle Thomas
 * Class:          CptS 421/423 Fall '19 Spring '20
 * University:     Washington State University Tri-Cities
 */

/*Page styles*/
html { height: 100%; }

h1 {
    color: #ddd;
    text-align: center;
    font: 38px 'Open Sans', Arial, sans-serif;
}

h2 {
    color: #ddd;
    text-align: center;
    font: 15px 'Open Sans', Arial, sans-serif;
}

h3 {
  color: #ddd;
  text-align: center;
  font: 18px 'Open Sans', Arial, sans-serif;
}
body {
  height: 100%;
  margin: 0;
  background: #363636;
  align-items: center;
}
.outer {
    position: absolute;
    left: 30%;
}

.outer2 {
    position: absolute;
    left: 44%;
}

.outer3 {
  position: absolute;
  left: 27%;
}
.button {
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 16px 'Open Sans', Arial, sans-serif;
    margin: 8px 4px;
    cursor: pointer;
    vertical-align: top;
    border-radius: 3px
  }
  
  .button1 {
    background-color: #484848; 
    color: #ddd; 
    border: 2px solid #008CBA;
  }
  .button_index {
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 30px 'Open Sans', Arial, sans-serif;
    margin: 8px 4px;
    cursor: pointer;
    vertical-align: top;
    border-radius: 3px
  }
  .button2 {
    background-color: #484848; 
    color: #ddd; 
    border: 2px solid #008CBA;
  }
  .button1:hover{
    background: rgb(25, 63, 70);
    }
  .button2:hover{
    background: rgb(25, 63, 70);
    }

    .btn{
      background:#484848;
      width:125px;
      padding-top:5px;
      padding-bottom:5px;
      color:#ddd;
      border-radius:3px;
      border: #008CBA 2px solid;
      margin-top:20px;
      margin-bottom:20px;
      float:left;
      margin-left:180px;
      font-weight:800;
      font-size:0.8em;
    }
    
    .btn:hover{
      background: rgb(25, 63, 70);
    }
    
.header {
    position: relative;
    top: 0;
}

.inner {
    position: relative;
}
.boxes {
  margin: auto;
  padding: 50px;
  background: #484848;
  border-radius: 7px;
}
.buttonHold {
    text-align: center; 
}
/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #008CBA;
  text-align: center;
}
 
li:last-child {
  border: none;
}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
li a {
  text-decoration: none;
  color: #ddd;
  display: block;
  width: 600px;
  text-align: center;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 30px;
}