<!--
aws_login page template for cloud backup application

Application:    Cloud Backup
File:           /cloud_backup/cloud_download/templates/cloud_download/aws_login.html
Description:    html template for AWS Authentication
Language:       Python 3.8 Django 2.2
Dev Env:        Linux x64

Authors:        Ryan Breitenfeldt
                Noah Farris
                Trevor Surface
                Kyle Thomas
Class:          CptS 421/423 Fall '19 Spring '20
University:     Washington State University Tri-Cities
-->
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'cloud_download/aws.css' %}">
        <meta charset="UTF-8">
    </head>

    <form method="post">
        <div class="box">
        <h1>Amazon Web Services</h1>
        <h2>Login</h1>

        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field }}
        {% endfor %}        
        <input type="submit" value="Submit" div class="btn">                  
        </div> <!-- End Box -->
          
    </form>   
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>alert("{{ message }}")</script>  
        {% endfor %}
    </ul>
    {% endif %}
</html>

