<!--
file page template for cloud backup application

Application:    Cloud Backup
File:           /cloud_backup/cloud_download/templates/cloud_download/files.html
Description:    html template for files
Language:       Python 3.8 Django 2.2
Dev Env:        Linux x64

Authors:        Ryan Breitenfeldt
                Noah Farris
                Trevor Surface
                Kyle Thomas
Class:          CptS 421/423 Fall '19 Spring '20
University:     Washington State University Tri-Cities
-->

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'cloud_download/style.css' %}">
    </head>
        <div class = "outer">
            <div class = "header"><h1>Cloud Download Application</h1></div>
            <div class = "inner">
            <form id="aclass" action="" method="post">
                {% csrf_token %}
                <div class="boxes">
                <input type="checkbox" id = "sel_all" name = "box" onclick="toggle(this)">
                <label for="sel_all"> Select All </label>
                {% for file in files %}
                <input type="checkbox" id = "{{ file }}" value="{{ file }}" name="box">
                <label for="{{ file }}">{{ file.name }} </label>
                {% empty %}
                    no files found
                {% endfor %}
                </div>
                <input class = "button button1" type="submit" value="Download">
                <a class="button button2" id="back" href="/cloud">Start Over</a>
            </form>
            </div>
        </div>

    <script>
        function toggle(source) {
          checkboxes = document.getElementsByName('box');
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
          }
        }
    </script>
</html>

