
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'cloud_download/style.css' %}">
        <meta charset="UTF-8">
    </head>
    <body style="background-color:#f9f1f1">
        <h1>Cloud Backup Application</h1>

        <form action="/cloud/" method="post">
          {% csrf_token %}
          <select id="platform">
            {% for platform in platforms %}
            <option value="{{platform}}">{{platform}}</option>
            {% endfor %}
          </select>
            <p />
          <input type="submit" value="Submit">
        </form>
        <div>
        </div>

    </body>
</html>

