<!--
cloud selection page template for cloud backup application

Application:     Cloud Backup
File:                 /cloud_backup/cloud_download/templates/cloud_download/index.html
Description:    html template for index page
Language:       Python 3.8 Django 2.2
Dev Env:         Linux x64

Authors:          Ryan Breitenfeldt
                        Noah Farris
                        Trevor Surface
                        Kyle Thomas
Class:              CptS 421/423 Fall '19 Spring '20
University:    Washington State University Tri-Cities
-->
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'cloud_download/style.css' %}">
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>Cloud Backup Application</h1>
        <h2>Please select a cloud application and click 'Submit'.</h2>
        <div class = "outer2">
        <div class = "inner">
          <div class = "button-group">
            <form action="" method="post">
              {% csrf_token %}
              <div class>
              <select class = "button_index button1" id="platform" name="platform">
                {% for platform in platforms %}
                <option value="{{platform}}">{{platform}}</option>
                {% empty %}
                <option value="empty">error, no platforms found</option>
                {% endfor %}
              </select>
             </div>
             <div>
              <input class = "button button1" type="submit" value="Submit"> 
            </div>
            </form>
          </div>
      </div>
    </div>
    </body>
</html>

