<!--
file page template for cloud backup application

Application:     Cloud Backup
File:                 /cloud_backup/cloud_download/templates/cloud_download/files.html
Description:    html template for files
Language:       Python 3.8 Django 2.2
Dev Env:         Linux x64

Authors:          Ryan Breitenfeldt
                        Noah Farris
                        Trevor Surface
                        Kyle Thomas
Class:              CptS 421/423 Fall '19 Spring '20
University:    Washington State University Tri-Cities
-->
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'cloud_download/style.css' %}">
    </head>
    <body style="background-color:#f9f1f1">
        <h1>Cloud Backup Application</h1>

        <p>
        <h4>Files downloaded:</h4>
        <ul>
        {% for file in files %}
        <li />{{ file.name }}
        {% empty %}
            no files selected for downloading
        {% endfor %}
        </ul>
        <p />
        <a class="back" id="back" href="/cloud">Start Over</a>

    </body>

</html>

